.DS_Store
# Python cache and build
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
build/
dist/
# Python virtual environments
env/
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Environment / credentials
*.env
.envrc